{# templates/step/01-Table.html.twig #}

{% extends 'layout.html.twig' %}

{% block content %}

	{% embed '@MazariniBootstrap/table/base.html.twig' %}

		{% block header %}
			<th>Col A</th>
			<th>Col B</th>
			<th>Col C</th>
			<th>Col D</th>
		{% endblock header %}

		{% block row %}
			<td>{{ entity.COL1 }}</td>
			<td>{{ entity.COL2 }}</td>
			<td>{{ entity.COL3 }}</td>
			<td>{{ entity.COL4 }}</td>
		{% endblock row %}

		{% block footer %}{% endblock footer %}

	{% endembed %}

	{% embed '@MazariniBootstrap/pagination/nav.html.twig' with {'pagination': data.pagination} %}{% endembed %}

{% endblock content %}
