{# templates/step/01-Table.html.twig #}

{% extends '@MazariniTest/step/layout.html.twig' %}

{% block content %}
	<table class="table">
		{% embed '@MazariniBootstrap/index/data.html.twig' with {'col': 4, 'data': data} only %}

			{% block header %}
				<th>Col A</th>
				<th>Col B</th>
				<th>Col C</th>
				<th>Col D</th>
				<th>Action</th>
			{% endblock header %}

			{% block row %}
				<td>{{ entity.COL1 }}</td>
				<td>{{ entity.COL2 }}</td>
				<td>{{ entity.COL3 }}</td>
				<td>{{ entity.COL4 }}</td>
			{% endblock row %}

		{% endembed %}
	</table>

	{% include '@MazariniBootstrap/pagination/adapt.html.twig' with {'data': data} only %}

{% endblock content %}
