{# templates/step/01-Table.html.twig #}

{% extends '@MazariniTest/step/layout.html.twig' %}

{% block content %}

	<div class="list-group accordion" id="accordionExample">
		<a class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#collapseOne">
			Card
		</a>
		<div id="collapseOne" class="list-group collapse show" data-parent="#accordionExample">
			<a href="#" class="list-group-item list-group-item-action">
				Modal
			</a>

			<a href="#" class="list-group-item list-group-item-action">
				Table
			</a>

			<a href="#" class="list-group-item list-group-item-action">
				Pagination
			</a>
		</div>
		<a class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#collapseTwo">
			Card
		</a>
		<div id="collapseTwo" class="list-group collapse show" data-parent="#accordionExample">
			<a href="#" class="list-group-item list-group-item-action">
				Modal
			</a>

			<a href="#" class="list-group-item list-group-item-action">
				Table
			</a>

			<a href="#" class="list-group-item list-group-item-action">
				Pagination
			</a>
		</div>
		<a href="#" class="list-group-item list-group-item-action">
			Modal
		</a>
	</div>
{% endblock content %}
