{# templates/step/01-Card.html.twig #}

{% extends '@MazariniTest/step/layout.html.twig' %}

{% block content %}
	<h2>List</h2>
	{{ dump(list) }}
	<h2>Tree</h2>
	{{ dump(tree) }}
	<h2>Entities</h2>
	{{ dump(dataPagination.Entities) }}
	<h2>All parms</h2>
	{{ dump() }}
{% endblock content %}
