{# templates/layout.html.twig #}

{%- extends 'base.html.twig' -%}

{% block title %}
	Title
{% endblock title %}
{% block stylesheets %}
	{{ parent() }}
	<style>
		body {
			padding-top: 2rem;
		}
	</style>
{% endblock stylesheets %}
{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-3">
				{% include '@MazariniTest/step/menu.html.twig' with {'items': steps} %}
			</div>
			<div class="col-9">
				{% block content %}{% endblock content %}
			</div>
		</div>
	</div>
{% endblock body %}
