{# templates/step/04-pagination.html.twig #}

{% extends '@MazariniTest/step/layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.table ul {
			margin-bottom: 0;
		}
	</style>
{% endblock stylesheets %}

{% block content %}

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Current</th>
				<th>Last</th>
				<th>Paginator</th>
			</tr>
		</thead>
		<tbody>
			{% for data in datas %}
				<tr>
					<td>
						{{ data.pagination.currentPage }}
					</td>
					<td>
						{{ data.pagination.lastPage }}
					</td>
					<td>
						{% embed '@MazariniBootstrap/pagination/num.html.twig' with {'data': data} only %}{% endembed %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock content %}
